body{
  margin: 0;
  padding: 0;
}
/*Backgrund GRÅ*/
.bg{
  border: 1px solid gray;
  width: 700px;
  height: 525px;
  background-color: lightgray;
  margin: 100px auto;
}
/*API SEKTIONEN -- ALL KOD **/
.api-output {
  position: relative;
  left: 80px;
  top: 10px;
  height: 20px;
  width: 200px;
  background-color: white;
}
.api-parent {
  height: 45px;
  border-bottom: 1px solid gray;
}

#api-btn{
  position: relative;
  top: -10px;
  left:  0px;
  margin-left: 5px;
}

#api-status{
  position: relative;
  display: inline-block;
  height: 20px;
  width: 100px;
}
#api-message{
  position: relative;
  display: inline-block;
  height: 20px;

}

#counter{
  margin: 0 15px;
  display: relative;
  float: right;
  right: 0px;
}

/*ADDERA BÖCKER*/

.add-books-parent {
  height: 110px;
  border-bottom: 1px solid gray;
}
#input-title{
  margin: 7px 5px;
}

#input-author{
  margin: 7px 5px;
}

#add-btn {
  margin: 5px;
}

#errorAdd{
  display: none;
  color: red;
  margin-left: 10px;
  font-size: 12px;
}
/* VISA BÖCKER SEKTION*/
.show-parent{
    height: 160px;
    border-bottom: 1px solid gray;
    margin-bottom: 7.5px;
}

#show-btn {
  margin: 5px;
}


.bookOutput{
  display: inline-block;
  border-radius: 5px;
  background-color: gray;
  margin: 5px 0 0 5px;
  font-family: 'open-sans';
  font-size: 14px;
}
.bookOutput p{
  display: inline-block;
  padding: 2px;
  margin: 2px;
}
/*ÄNDRA BÖCKER SEKTION*/

.change-parent {
  height: 120px;
  border-bottom: 1px solid gray;
}
.input-change {
    margin: 3px 5px;
}
#btn-change{
  margin: 5px;
}
/*RADERA BOK*/


#input-delete{
  margin: 10px 0 0 5px ;
}
#btn-delete{
  margin: 5px 0 0 5px;
}
#errorDelete{
  display: none;
  color: red;
  margin-left: 10px;
  font-size: 12px;
}

/*SÖK EFTER BÖCKER STYLE */
#searchedList {

}
.infoStyle {
  position: relative;
  font-family: arial;
  display: inline-block;
  padding-top: 50px;
  width: 300px;
}
.imgStyle{
  padding: 5px;
  display: inline-block;
}
.innerWrapper{
  position: relative;
}
#headerSearch {
  margin: auto;
  width: 70%;
  font-size: 14px;
  font-family: 'open-sans';
}
ul{
  list-style-type:none;
  padding:0px;
  margin:0px;
}
.containerBook{
  display: flex;
  flex-direction: row;
  background-color: #0A1016;
  margin: 10px;
  font-family: 'open-sans';
  color: white;
}
.addBookStyleBtn{
    margin-right: 15px;
    border: 1px solid transparent;
    background: #C94C4C;
    cursor: pointer;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 400;
}
.divBtnWrap{
  padding-right: 50px;
  padding-top: 20px;
}
